<!DOCTYPE html>
<html lang="en">

<head>
    <title>L&C Personal Finances</title>
    <!-- Page Script and CSS-->
    <script src="../static/js/jquery-1.11.2.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/jumbotron.css">

</head>


<body>
  <div class="container">
      <div class="header">
          <h3 class="text-muted">L&C Personal Finances</h3>
      </div>

  	<li role="presentation"><a href="/showAddTrans">Add Transaction</a></li>
  </ul>

    <div class="jumbotron">
      <h1>{{error}}</h1>
    </div>
  </div>

</body>
</html>
